.container{
    width: 1236px;
    margin: 0 auto;
}
.container-inform {
    display: flex;
}
.container_text {
}
.mini-title {
}
.paragraph {
}
.mini_paragraph {
}
.shop {
}
.price {
}
.price_two {
}
.img {
}